sqlite_path: "data/db.sqlite"
base_url: "https://xxx.vmedis.com"
session_ids:
    - "abcd"
concurrency: 10
refresh_interval: "1m"
rate_limit: 100

redis_address: "localhost:6379"
redis_password: ""
redis_db: 0