sqlite_path: "data/db.sqlite"
base_url: "https://xxx.vmedis.com"
concurrency: 10
refresh_interval: "1m"
rate_limit: 100

redis_address: "localhost:6379"
redis_password: ""
redis_db: 0

kafka_brokers:
    - "localhost:9092"

email:
  smtp_address: "smtp.example.com:567"
  smtp_username: ""
  smtp_password: ""
  from: ""
  iqvia:
    to: []
    cc: []

stock-opname-start-date: "2024-03-07"